/* colors: #495464 #bbbfca #e8e8e8 #f4f4f2 #8B575C */
/******************* ELEMENTS*******************/
body{
  background-color: #f4f4f2;
  color:#495464;
  font-family: "Roboto Condensed", sans-serif;
}
h1{
  font-family: "Oswald", serif;
}
/**************** COLORS ********/
.bgd-white{
  background-color: #f4f4f2;
}
.bgd-light{
  background-color: #e8e8e8;
}
.bgd-accent{
  background-color: #8B575C;
}
.bgd-dark{
  background-color: #495464;
}
.txt-white{
  color: #f4f4f2;
}
.txt-light{
  color:#e8e8e8;
}
.txt-accent{
  color: #8B575C;
}
.txt-dark{
  color:black;
}
/**********************SPECIFIC CLASSES***************/
.jg{
  height:15%;
  width:100%;
}
.cover-div{
  padding: 10% 1%;
  margin: 0 20%;
  /* background-image: url("../images/background.jpg");
  background-size: 100% 100%; */
}
.pad{
  padding: 5%;
}
.about-div{
  padding: 10% 7%;
  margin: 0 20%;
}
.about-me{
  padding-left:15%
}
.languages{
  font-size:60%;
  padding: 3%;
}
.project-slides{
}
.work-div{
  margin: 0 20%;
}
.slides{
  padding:7% 15%;
  height:35rem;
  width:auto;
}
.footnote-div{
  padding-top:20%;
}
.Headshot{
height:inherit;
width:inherit;
border-radius: 10%;
}
.graphic{
  height: 75%;
  width: 30%;
  margin-bottom: 1rem;
  padding: 5% 0;
}
.feature-box{
  padding:5%;
}
.project-photos{
  height:100%;
  width:100%;
  padding:8%;
}
